* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #3c368c;
    --secondary: #707070;
    --yellow: #feac01;
    --purple: #c065de;
    --Poppins: 'Poppins';
    --Roboto: 'Roboto';
}

/* comman class */
.primary {
    color: var(--primary)
}

.secondary {
    color: var(--secondary)
}

.poppins {
    font-family: var(--Poppins);
}

.roboto {
    font-family: var(--Roboto);
}

.container {
    width: 1360px;
    margin: auto;
}

ol,
ul {
    list-style: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.w-40 {
    width: 40%;
    padding: 10px;
}

.w-30 {
    width: 30%;
}

.w-60 {
    width: 60%;
    padding: 10px;
}

.w-50 {
    width: 50%;
    padding: 10px;
}

.white {
    color: #fff;
}

a {
    text-decoration: none;
}

.justify-between {
    justify-content: space-between;
}

.justify-even {
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}

img {
    width: 100%;
}

.text-right {
    text-align: right;
}

/* header */
header {
    background-color: var(--primary);
}

header nav ul li a {
    font-size: 16px;
    text-transform: capitalize;
    transition: 0.5s all;
}

header nav ul li a:hover {
    color: var(--yellow);
}

header nav ul li {
    position: relative;
}

.menu {
    position: absolute;
    width: 200px;
    background-color: var(--purple);
    padding: 20px 15px;
    top: 30px;
    visibility: hidden;
    transition: all 0.3s;
    opacity: 0;
}

.menu ul li {
    padding: 5px 0px;
    font-weight: 600;
}

header nav ul li:hover .menu {
    visibility: visible;
    opacity: 1;
}

.logo {
    width: 30%;
}

.mega-menu {
    width: 800px;
    background-color: var(--purple);
    position: absolute;
    right: 0%;
    top: 30px;
    padding: 20px 20px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all;
}

.mega-menu ul li a {
    font-size: 25px;
    padding: 20px 0px
}

.mega-menu ul li {
    padding: 10px 0px;

}
header nav ul li:hover .mega-menu{
    opacity: 1;
    visibility: visible;
}